
html, body
{
    height: 100%;
}

body
{
    display: grid;
    grid-template-rows: auto 1fr auto;
}

*{
    font-family: 'Poppins', sans-serif;
}

/* -------------------------------------- */


.index
{
    background-color: rgb(237, 236, 236);
}
.register
{
    background-image:url('../images/registration.jpg');
    background-size:cover;
    background-position: center;
}

.waiting
{
    background-image: url('../images/waiting.jpg');
    background-size:cover;
    background-position:center;
    
}
.reset
{
    background-image: url('../images/reset_password.png');
    background-size:cover;
    background-position:center;
}
.recipes
{
    background-image: url('../images/dashboard2.jpg');
    background-size:cover;
    background-position:center;
}
