{% extends 'themes/visitor/base.html.twig' %}

{% block title %} recette {{recipeJus.title}} {% endblock %}

{% block description %} recette {{recipeJus.title}} {% endblock %}

{% block main %}

        

        <div class="container">

         <h1 class="text-center text-success display-5 my-5">{{recipeJus.title}}</h1>
    
            {{recipeJus.content|raw}}
    
        </div>

{% endblock %}