{% extends 'themes/visitor/base.html.twig' %}

{% block title %} recette {{recipeSweet.title}} {% endblock %}

{% block description %} recette {{recipeSweet.title}} {% endblock %}

{% block main %}

        
        
        <div class="container">
    
            <h1 class="text-center text-danger display-5 my-5">{{recipeSweet.title}}</h1>

            {{recipeSweet.content|raw}}
    
         </div>

{% endblock %}