{% extends 'themes/visitor/base.html.twig' %}

{% block title %}
	Apropos de healthy-food
{% endblock %}

{% block description %}
	Recettes de plats sains sucrés,salés et bébé : Se régaler et surtout se faire plaisir sans culpabiliser !
{% endblock %}

{% block keywords %}
	recettes, healthy, sain, sucrés, salés, bébé ,jus
{% endblock %}

{% block css %}
<style>

.about
{
    background-image: url('../images/dashboard3.jpg');
    background-size:cover;
    background-position:center;
}

</style>
{% endblock %}

{% block main %}



	<div class="about">

    <h1 class="bg-success text-light display-5 text-center my-3 py-3"> Apropos de Healthy-food</h1>
    
    <p class="text-success shadow bg-light text-center fs-3 p-5 m-5 rounded" >Bienvenue sur Healthy-food, votre destination ultime pour des choix alimentaires sains et délicieux. Chez nous, nous croyons que la nourriture est bien plus qu'une simple nécessité – c'est une source de bien-être et de vitalité</p>

    <p class="text-success shadow bg-light text-center fs-3 p-5 m-5 rounded">À healthy-food, nous nous engageons à fournir des options alimentaires qui nourrissent non seulement votre corps, mais aussi votre esprit. Notre mission est de créer une communauté qui valorise la santé, la durabilité et le plaisir gustatif.</p>

    <p class="text-success shadow bg-light text-center fs-3 p-5 m-5 rounded">Chaque plat que nous proposons est conçu avec soin, en utilisant des ingrédients frais et nutritifs. Nous croyons en la puissance des aliments entiers et en leur capacité à améliorer la qualité de vie. Nos recettes sont élaborées pour vous offrir une expérience culinaire satisfaisante sans compromettre votre bien-être.</p>

    <p class="text-success shadow bg-light text-center fs-3 p-5 m-5 rounded"p>Derrière chaque plat délicieux, il y a une équipe passionnée dévouée à vous offrir une expérience exceptionnelle. De nos chefs talentueux à notre équipe de service attentionnée, nous travaillons ensemble pour créer un environnement où la nourriture saine et savoureuse rencontre un service exceptionnel.</p>

    
    </div>


{% endblock %}
