{% extends "themes/visitor/base.html.twig" %}

{% block title %}
	En attente de la vérification du compte par e-mail
{% endblock %}

{% block description %}
	En attente de la vérification du compte par e-mail
{% endblock %}

{% block main %}
	<main class="waiting">

				<h1 class="text-center display-5 text-light mt-5">En attente...</h1>
				<h3 class="text-center text-light my-4 shadow shadow-light">Un e-mail vous a été envoyé pour la vérification du compte</h3>

	</main>

{% endblock %}
